.line-container {
  padding: 10px 14px;
  margin-bottom: 10px;
}

.line-header {
  margin: 14px auto;
}

.line-name {
  margin-left: 10px;
}

.line-ul {
  list-style: none;
  padding-inline-start: 0;
}

.stops-li {
  position: relative;
  margin-left: 8px;
  padding: 10px 0;
}

.coloured-line {
  left: 0px;
  top: 0px;
  width: 4px;
  position: absolute;
  height: 100%;
}

.stops {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 700;
  color: #999;
  letter-spacing: 0.2px;
}